#btn-registrar {
    background: #1c728b;
    border: 2px solid #1c728b;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 2px;
    font-size: 17px;
    display: block;
}


#btn-1 {
    background: #60b7e9;
    border: 2px solid #60b7e9;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    border-radius: 2px;
    font-size: 17px;

}

#btn-1:hover {
    background-color: #1658c3;
}

#sct-reviews {
    padding: 1px;
}

#sct-reviews h3 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h3 {
    color: rgb(7, 43, 65);
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
}



/* p {
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
} */

/* Estilos Gabriel */

#infoHotel {

    text-align: justify;
    line-height: 45px;
    padding: 90px;
    font-size: 25px;



}



.sct-bannerHotel {
    background-image: url(/Frontend/imagenes/portadaHotel.jpg);
    background-size: cover;
    display: flex;
    min-height: 700px;
    /*min-height: calc(90vh - 5px);*/
    padding: 3%;
    align-items: center;
}

.buttonReser {
    background: #1c728b;
    border: 2px solid black;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border-radius: 2px;
    font-size: 17px;
    text-align: right;

    position: relative;

    bottom: 300px;

    left: 950px;


}

#section {
    padding: 200px;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

.header-principal {
    background: #61b6e4;
    display: flex;
    justify-content: space-between;
    min-height: 90px;
    padding: 0%;
    align-items: center;
    width: 100%;
    font-size: 25px;
}

.header-principal .logo {
    background: none;
    height: 80px;
    width: 150px;
    display: flex;
    justify-content: center;

}

.header-principal .logo img {
    height: 100%;
}

.header-principal .boton {
    height: 60px;
    display: flex;
    font-size: 18px;
    font-weight: 100;
    padding: 15px;
}


.menu_bar {
    display: none;
}

.navegar {
    width: 100%;
}

.navegar nav {
    z-index: 1000;
    max-width: 1000px;
    width: 100%;
    margin: 30px auto;
}

.navegar nav ul {
    list-style: none;
}

.navegar nav ul li {
    display: inline-block;
    position: relative;
}

.navegar nav ul li:hover {
    background: #a8c25f;
}

.navegar nav ul li a {
    color: rgb(13, 77, 122);
    display: block;
    text-decoration: none;
    padding: 10px;
}

.navegar nav ul li a span {
    margin-right: 10px;
}

.navegar nav ul li:hover .children {
    display: block;
}

.navegar nav ul li .children {
    display: none;
    background: #75c1f0;
    position: absolute;
    width: 150%;
    z-index: 1000;
}

.navegar nav ul li .children li {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

.navegar nav ul li .children li a {
    display: block;
}

.navegar nav ul li .children li a span {
    float: right;
    position: relative;
    top: 3px;
    margin-right: 0;
    margin-left: 10px;
}

.navegar nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
}


.menu_bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: #e0e4e7;
}

.menu_bar .bt-menu {
    display: block;
    padding: 15px;
    color: #fff;
    overflow: hidden;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.menu_bar span {
    float: right;
    font-size: 30px;
}

header nav {
    width: 80%;
    height: calc(100% - 80px);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
}

header nav ul li {
    display: block;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

header nav ul li a {
    display: block;
}

header nav ul li:hover .children {
    display: none;
}

header nav ul li .children {
    width: 100%;
    position: relative;
}

header nav ul li .children li a {
    margin-left: 20px;
}

header nav ul li .caret {
    float: right;
}

#tituloHotel {
    text-align: center;
    font-size: 50px;
}