*{
    font-family: 'Asap', sans-serif;
    
}

.divTitulo {
    display: flex;
    justify-content: center;
}

#divButtonNuevaMascota{
    /* border: 2px solid red; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-around;

}

#butAnadirNuevaMascota{
    background-color: rgb(121, 204, 196); 
    height: 50%;
    margin: auto;
    font-size: x-large;
    border: none;
    border-radius: 15px;

}
#butAnadirNuevaMascota:hover{
    background-color : rgb(131, 218, 213);
}



#contenedorTabla{
    width: 100%;
    padding-top: 5%;
    text-align: center;
}

#mascotas{
    background-color: rgb(204, 235, 199);
    border-collapse: collapse;
    width: 40%;
    margin: auto;
}

#mascotas thead{
background-color: rgb(167, 221, 183);
}



#mascotas td,
#mascotas th {
    border: 1px solid #ddd;
    padding: 8px;
}

#mascotas tr:nth-child(even) {
    background-color: rgb(167, 221, 183);
}

#mascotas tr:hover {
    background-color: rgb(224, 243, 220);
}

#mascotas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(121, 204, 196);
    color: white;
}
